/*DBTYPE:SQLSERVER|TARGETDB:HPFSIDS*/
/****** Object:  Synonym [DIMN].[PP_VALIDATE_UPLD_ASSET_01]    Script Date: 11-08-2022 13:22:32 ******/
IF EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PP_VALIDATE_UPLD_ASSET_01' AND schema_id = SCHEMA_ID(N'DIMN'))
begin
drop SYNONYM [DIMN].[PP_VALIDATE_UPLD_ASSET_01]
end
CREATE SYNONYM [DIMN].[PP_VALIDATE_UPLD_ASSET_01] FOR [DIMN_20210430].[PP_VALIDATE_UPLD_ASSET_01]
GO
GRANT EXECUTE ON [DIMN].[PP_VALIDATE_UPLD_ASSET_01] TO DMUsr01
go
