/*DBTYPE:SQLSERVER|TARGETDB:HPFSIDS*/
/****** Object:  Synonym [DIMN].[PP_ASSET_DETAIL_03]    Script Date: 11-08-2022 13:22:30 ******/
IF  EXISTS (SELECT * FROM sys.synonyms WHERE name = N'PP_ASSET_DETAIL_03' AND schema_id = SCHEMA_ID(N'DIMN'))
begin
drop SYNONYM [DIMN].[PP_ASSET_DETAIL_03]
end
CREATE SYNONYM [DIMN].[PP_ASSET_DETAIL_03] FOR [FCT_20210430].[PP_CHILD_ASET_DTL]
GO
GRANT EXECUTE ON [DIMN].[PP_ASSET_DETAIL_03] TO DMUsr01
go
